.grid {
  display: grid;
}

.fullWidthWithMargins {
  display: grid;
  grid-template-columns: var(--grid-gutter-width) 1fr var(--grid-gutter-width);
}

.gridColumnCenter {
  grid-column: 2;
}

.fullBleed {
  grid-column: 1/4;
}
