.container {
  margin-top: var(--spacing-unit-2);
  margin-bottom: var(--spacing-unit-8);
}

.slicedLogo {
  display: block;
  width: 100%;
}

.furl {
  display: block;
  aspect-ratio: 163 / 14;
  width: clamp(160px, 30%, 200px);
}

.logoWrapper {
  display: block;
  width: clamp(70px, 15%, 100px);
}

.logo {
  display: block;
  aspect-ratio: 64/28;
  width: clamp(70px, 15%, 100px);
}
