.container {
  margin-top: var(--spacing-unit-2);
  margin-bottom: var(--spacing-unit-8);
}

.furl {
  display: block;
  aspect-ratio: 163 / 14;
  width: clamp(160px, 30%, 300px);
}

.logo {
  display: block;
  width: clamp(90px, 15%, 120px);
}

.logoWrapper {
  composes: logo;
  color: var(--text-primary);
  display: block;
}

.logoWrapper  > svg {
    width: 100%;
    height: 100%;
}

.logo {
  aspect-ratio: 64/28;
  composes: logo;
}
