
@mixin underline {
  &:after {
    content: '';
    display: block;
    width: 20%;
    height: 1px;
    background-color: var(--green-dark);
    margin-top: var(--spacing-unit-3);
  }
}

@mixin imageBorder {
  border: 1px solid var(--grey-3);
}


$breakpointXS: 480px;
$breakpointL: 1025px;
