.Tag {
  border: 1px solid var(--grey-4);
  border-radius: 15px;
  display: inline-block;
  padding: 2px var(--spacing-unit-1);
  font-size: var(--font-size-10);
  color: var(--grey-3);
  text-transform: uppercase;
}

.Tag:hover,
.Tag:focus {
  border-color: var(--grey-2);
  color: var(--grey-1);
}
