.Tag {
  border: 1px solid var(--grey-4);
  border-radius: 15px;
  display: inline-block;
  padding: 3px var(--spacing-unit-1);
  font-size: var(--font-size-9);
  color: var(--text-primary);
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1;
}

.Tag.isSelected {
  color: var(--white);
  background-color: var(--grey-3);
  border-color: var(--grey-3);
}
