@value bp-medium, bp-large from "../../app/styles/breakpoints.css";

.tabList {
  display: flex;
}

.tab {
  flex: 1;
}

/* specific to this design*/
.tabList {
  background-color: var(--background-secondary);
}

.tab {
  color: var(--text-primary);
  font-family: var(--font-stack-heading);
  font-size: clamp(var(--font-size-14), 4vw, var(--font-size-16));
  text-transform: uppercase;
  padding-top: calc(var(--spacing-unit-2) + 4px);
  padding-bottom: var(--spacing-unit-2);
  padding-left: var(--grid-gutter-width);
  padding-right: var(--grid-gutter-width);
  text-align: left;
  border: 1px solid transparent;
  @media bp-medium {
    padding-top: var(--spacing-unit-4);
    padding-bottom: var(--spacing-unit-3);
  }
}

.tab[aria-selected='true'] {
  background-color: var(--background-primary);
  border-top-color: var(--border-primary);
}

.tab[aria-selected='true']:first-child {
  border-right: 1px solid var(--border-primary);
  border-top-right-radius: var(--spacing-unit-4);
}

.tab[aria-selected='true']:last-child {
  border-left: 1px solid var(--border-primary);
  border-top-left-radius: var(--spacing-unit-4);
}

.tab[aria-selected='false'] {
  border-bottom-color: var(--border-primary);
}

.tab[aria-selected='false']:hover {
  color: var(--text-primary-active);
}

.tab:last-child {
  padding-left: var(--spacing-unit-5);
}

.tabPanel {
  color: var(--text-primary);
  font-size: clamp(var(--font-size-14), 3vw, var(--font-size-16));
  padding: var(--spacing-unit-6) var(--grid-gutter-width);
}

@media bp-large {
  .tab,
  .tabPanel {
    padding-left: calc(var(--grid-gutter-width) * 3);
  }
}
