@import "../../styles/mixins";

.heading {
  @include heading;
  @include headingLarge;
}

@media (min-width: $breakpointL) {
  .contentWrapper {
    display: flex;
  }
}

.metaDataWrapper {
  display: flex;
  gap: var(--spacing-unit-6);
  margin-bottom: var(--spacing-unit-3);
  justify-content: space-between;
}

@media (min-width: $breakpointM) {
  .metaDataWrapper {
    width: 300px;
    margin-bottom: var(--spacing-unit-6);
  }
}

.imageContainer {
  padding-bottom: var(--spacing-unit-4);
  background-color: var(--background-secondary);
}

.imageWrapper {
  position: relative;
  padding-bottom: clamp(40%, 60vw, 50%);
  width: 100%;
  object-fit: contain;
  @include imageBorder;
}

@media (min-width: $breakpointL) {
  .imageContainer {
    background-color: transparent;
    padding-bottom: 0;
  }

  .imageContainer,
  .content {
    flex-basis: 50%;
  }

  .imageWrapper {
    padding-bottom: 90%;
  }
}
.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
