@value bp-medium, bp-large from "../../styles/breakpoints.css";

.heading {
  composes: heading from '../../styles/base-classes.module.css';
  composes: headingLarge from '../../styles/base-classes.module.css';
}

@media bp-large {
  .contentWrapper {
    display: flex;
  }
}

.metaDataWrapper {
  display: flex;
  gap: var(--spacing-unit-5);
  margin-bottom: var(--spacing-unit-3);
}

@media bp-medium {
  .metaDataWrapper {
    width: 300px;
    margin-bottom: var(--spacing-unit-6);
  }
}

.imageContainer {
  padding-bottom: var(--spacing-unit-4);
  background-color: var(--background-secondary);
}

.imageWrapper {
  composes: imageWrapper from '../../styles/base-classes.module.css';
  padding-bottom: clamp(40%, 60vw, 50%);
  width: 100%;
}

.image {
  composes: image from '../../styles/base-classes.module.css';
}

@media bp-large {
  .imageContainer {
    background-color: transparent;
    padding-bottom: 0;
  }

  .imageContainer,
  .content {
    flex-basis: 50%;
  }

  .imageWrapper {
    padding-bottom: 90%;
  }
}

.listHeading {
  color: var(--text-secondary);
  font-size: var(--font-size-14);
  margin-bottom: var(--spacing-unit-8);
  composes: underlineSecondary from '../../styles/base-classes.module.css';
}

.listHeading > div {
  display: flex;
  align-items: center;
  gap: var(--spacing-unit-1);
}
