@import "../../styles/mixins";

.imageWrapper {
  position: relative;
  padding-bottom: clamp(40%, 60vw, 50%);
  width: 100%;
  object-fit: contain;
  border-top: 1px solid var(--grey-1);
  border-bottom: 1px solid var(--grey-1);
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.title {
  font-family: var(--font-stack-heading);
  font-size: clamp(1.5rem, 6vw, 2.5rem);
  font-weight: normal;
  color: var(--grey-2);
  margin-bottom: var(--spacing-unit-3);
  @include underline;
}
