@import "../styles/mixins";

.heading {
  @include heading;
  @include headingLarge;
}

.textBlock {
  margin-top: var(--spacing-unit-8);
  p {
    color: var(--text-primary);
    margin-bottom: var(--spacing-unit-4);
  }
}
