@import "../styles/mixins";

.heading {
  @include heading;
  @include headingLarge;
  margin-bottom: var(--spacing-unit-10);
}

.imageWrapper {
  position: relative;
  padding-bottom: clamp(40%, 60vw, 50%);
  width: 100%;
  object-fit: contain;
  @include imageBorder;
  margin-bottom: var(--spacing-unit-8);
}

.image {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textBlock {
  p {
    color: var(--text-primary);
    line-height: 1.6;
    margin-bottom: var(--spacing-unit-4);
  }
}

@media (min-width: $breakpointM) {
  .content {
    display: flex;
    flex-direction: row-reverse;
    gap: var(--spacing-unit-8);
    align-items: flex-start;

    > * {
      flex-basis: 50%;
    }
  }

}
