.list {
  display: grid;
  grid-template-columns: repeat(auto-fit, 300px);
  grid-gap: 3rem;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.image {
  padding-bottom: 100%;
  position: relative;
}

.title {
  font-size: 1.3rem;
  font-weight: normal;
  color: var(--grey-2);
  margin-bottom: var(--spacing-unit-1);
}
