@value bp-xsmall, bp-small from "../styles/breakpoints.css";

.loading {
  font-family: var(--font-stack-heading);
  font-size: var(--font-size-22);
  font-weight: normal;
  color: var(--grey-4);
}

.tagWrapper {
  margin-bottom: var(--spacing-unit-4);
  composes: underline underlineFixed from '../styles/base-classes.module.css';
}

.list {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: var(--spacing-unit-7);
  width: 100%;
}

@media bp-xsmall {
  .list {
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-gap: var(--spacing-unit-5);
  }
}

.item {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.imageWrapper {
  composes: imageWrapper from '../styles/base-classes.module.css';
  padding-bottom: 65%;
}

@media bp-small {
  .imageWrapper {
    padding-bottom: 100%;
  }
}

.image {
  composes: image from '../styles/base-classes.module.css';
}

.title {
  composes: heading from '../styles/base-classes.module.css';
  font-size: var(--font-size-21);
  margin-bottom: var(--spacing-unit-2);
}

.resultsCount {
  font-size: var(--font-size-11);
  font-weight: normal;
  color: var(--text-primary);
  margin-bottom: var(--spacing-unit-4);
  text-transform: uppercase;
}

.tagsPrepTime {
  margin-bottom: var(--spacing-unit-3);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.noWrap {
  display: flex;
  flex-wrap: nowrap;
  gap: var(--spacing-unit-2);
}
